<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="data source=103.93.16.21; ;Initial Catalog=admentin_base; User Id=admentin_admin;password=hacker.py22@mit; " providerName="System.Data.SqlClient"/>
    <add name="admentConnectionString" connectionString="Data Source=matoshri.database.windows.net;Initial Catalog=adment;  User Id=admin1234;password=Mit1171@2023;Trusted_Connection=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="supadment@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="supadment@gmail.com" password="dgmbxrobbqjiwieq" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>